
*{
    padding: 0;
    margin: 0;
    
    flex-wrap: wrap;
}


html{
    scroll-behavior: smooth;
}

 
section{
    width: 100%;
    height: 100vh;

}
 
body::-webkit-scrollbar{

  width: 0;
  height: 0;
 

}





.inicio div{
    text-align: center;
}

.tit{
    width: 25em;

    margin-top: 27em;
}
.fechaa{
    width: 100%;
    height: 20em;
    background-color: #b9dca9;
}

.fechaa .fecha{
    text-align: center;
}

.fecha h1{
    font-size: 3.5em;
    color: white;
  font-style: italic;
    font-weight:100;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

.fecha img{
    width: 23em;
    position: relative;
    top: -8em;
}

.invitacion div{
    text-align: center;
}

.invitacion img{
    width: 18em;
}

.invitacion .nube {
    width: 31em;
    height: 30em;
    border-radius: 100em;
    border: 1px solid rgb(0, 0, 0);
}


.invitacion h2{
  text-indent: 3vh;
  line-height: 10vh;
    letter-spacing: 1vh;
    word-spacing: 1vh;
    font-size: 2em;
    font-weight:100 ;
}

#fondo {
    display: none;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 35em;
    max-height: 90%;
    height: 35em;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 1em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}

.modal__close{
    position: absolute;
    margin-top: -34em;
    margin-left:92%;
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 0.5em;
    border: 0.1em solid ;
    border-radius: 0.5em;
    display: inline-block;
    font-weight: 300;
    transition: 0.3s;
}


.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}



#map{
   
    margin: auto;
    height: 31em;
    width: 31em;


  
}



.invitacion p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    letter-spacing: 0.1.5vh;
}

.invitacion .hero__cta{

    font-size: 1em;
    text-decoration: none;
    list-style: none;
    
    border-radius: 2em;
    padding: 1em;
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    transition: 0.3s ease;
    }

    .invitacion .hero__cta:hover{
        background-color:rgb(42, 41, 41);
    }    
    .confirmacion .mariposa{
        width: 12em;
    
    }
    .confirmacion{
        margin-top: 85%;
        text-align: center;
    }

    .confirmacion .titulo{

        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        letter-spacing: 0.3em;
        word-spacing: 0.2em;
        font-size: 2em;
    }

    .caja .foto{
        display: inline-flex;
        }
        .foto .isa
        {
            
            width: 35em;
            height: 35em;
            
            border-radius: 40em;
           
        }
        .foto{
            margin: 3em;
        }

        .asistenciaa .tittle{
            font-size: 2em;
            font-family: arial;
            font-weight: 600;
        }

        .asistenciaa .info{
            font-size: 1.3em;
            font-family: arial;
            font-weight: 100;
            color: rgb(28, 28, 28);
            letter-spacing: 0.1em;
            word-spacing:0.2em ;
        }

        .asistenciaa a{
            font-size: 1.3em;
            background-color:black;
            color: white;
            text-decoration: none;
            
            border-radius: 15em;
            padding: 0.5em;
            font-weight: 700;
            font-family: arial;
            transition: 0.3s ease;
        }
        
        .asistenciaa a:hover{
            background-color:rgb(42, 41, 41);
        }

        #imagenfinal{
            background-color: #a9de9e;
            margin-top: 105em;
              height: 40em;
        }
    
        
#imagenfinal{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2em;
    word-spacing: 0em;
    line-height: 2.5em;

   
}

#imagenfinal p{
    font-weight: 100;
    font-size:1.5em;
    }
    
    #imagenfinal h1{
        font-weight: 900;
        font-size: 1.7em;
        font-style: oblique;
    }
    
    #imagenfinal img{
        width: 20em;
        margin-top: -8em;
    }

    footer .ti{
        background-color: rgb(235, 229, 229);
        text-align: center;
       padding: 0.5em;
        font-family: arial;
        font-weight: 100;
      font-size: 0.8em;
      color: black;
    }

    .ti a{
        text-decoration: none;
        color: rgb(165, 165, 165);
        transition: 0.3s ease;
    }

    .ti a:hover{
        color: rgb(121, 121, 121);
    }
    
    footer .derechos{
        padding: 1em;
        background-color: rgb(202, 199, 199);
        text-align: center;
        font-family: sans-serif;
        color: rgb(85, 84, 84);
    }
    
    .derechos a{
        text-decoration: none;
        color: rgb(85, 84, 84);
    }
    
    .separador{
        width: 20em;
        height: 10em;
    }

@media screen 
and (min-width: 750px)
{

    .invitacion h2{
  
          font-size: 3em;
      
      }

      .invitacion p{
       
        font-size: 3em;
        
    }
    
    .invitacion .hero__cta{
    
        font-size: 1.3em;
      
        }

        
        .asistenciaa .tittle{
            font-size: 3em;
            font-family: arial;
            font-weight: 600;
        }

        .asistenciaa .info{
            font-size: 1.7em;
           
        }

        .asistenciaa a{
            font-size: 1.8em;
           
        }

        #imagenfinal{
          
            margin-top: 95em;
             
        }

        .confirmacion{
            margin-top: 68%;
            text-align: center;
        }

        .foto .isa
        {
            
            width: 23em;
            height: 23em;
            
            border-radius: 40em;
           
        }
        .fecha h1{
            font-size: 5em;}
        
    
}
@media screen 
and (min-width: 1001px)
{
    .inicio{
        background: url(../img/Crema\ Marrón\ Fotográfico\ Belleza\ Plataforma\ Lanzamiento\ Sitio\ Web.png) no-repeat;
        background-size: cover;
    }

    #imagenfinal{
          
        margin-top: 80em;
         
    }

    .confirmacion{
        margin-top: 80%;
        text-align: center;
    }
 .tit{
       
        opacity: 0;
    }
}

@media screen 
and (max-width: 1000px)
{
    .inicio{
        background: url(../img/Invitacion\ para\ cumpleaños\ niño\ animalitos\ bosque\ verde.png) no-repeat;
        background-size:contain;
    }


}
@media only screen 
and (max-width: 680px) {
    .fechaa{
        margin-top: -10em;
    }}
@media only screen 
and (max-width: 540px) {
    .fechaa{
        margin-top: -20em;
    }
    #map{
   
        margin: auto;
        height: 31em;
        width: 20em;
    
    
      
    }
    .modal__container{
        margin: auto;
        width: 90%;
        max-width: 35em;
        max-height: 90%;
        height: 35em;
        background-color: #fff;
        border-radius: 0.5em;
        padding: 1em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
        transform: var(--transform);
        transition:var(--transition);
    }
    
    .fecha h1{
        font-size: 2.8em;
    }
    .invitacion h2{
        font-size: 2em;
        line-height: 2.5em;
    }
    .separador{
        width: 25em;
    }
}
@media only screen 
and (max-width: 800px) {
   
    .foto .isa
    {
        
        width: 25em;
        height: 25em;
        
        border-radius: 40em;
        border: 1px solid rgb(53, 116, 17);
       
    }
    #imagenfinal{
          
        margin-top: 70em;
         
    }

    .confirmacion{
        margin-top: 180%;
        text-align: center;
    }
    
    .invitacion .nube {
        width: 25em;
        height: 25em;
        border-radius: 100em;
        border: 1px solid rgb(0, 0, 0);
    }
    
    .confirmacion{
        margin-top: 100%;
        text-align: center;
    }

    #imagenfinal{
          
        margin-top: 80em;
         
    }

    #imagenfinal img{
       width: 22em;
        margin-top: -9em;
      }
  
}

@media only screen 
and (max-width: 500px) {
    .fechaa{
        margin-top: -20em;
    }}

    @media only screen 
and (max-width: 480px) {

    .foto .isa
    {
        
       margin-left: -3em;
       
    }
}
@media only screen 
and (max-width: 420px) {
    .fechaa{
        margin-top: 10em;
    }
    
    #imagenfinal{
          
        margin-top: 70em;
         
    }

    .confirmacion{
        margin-top: 180%;
        text-align: center;
    }

    #imagenfinal img{
       
      top: -10em;
    }
}

@media only screen 
and (max-width: 420px) {
   
    #imagenfinal{
          
        margin-top: 100em;
         
    }

    .confirmacion{
        margin-top: 180%;
        text-align: center;
    }

   
}
